.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.709);
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 240px;
    background-color: white;
    border-radius: 12px;
}